{% extends 'base.html' %}

{% block container %}
  <main class="container mt-3">
    <!-- HERO -->
    <section class="jumbotron text-center mt-4">
      <h1 class="display-4">{{ main_title }}</h1>
      <p class="lead">{{ main_subtitle }}</p>
      <p class="mt-5 w-50 mx-auto">{{ main_description }}</p>
    </section>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for i in range(0, 6) %}
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="{{ pictures[i] }}" alt="" />
          </div>          
          <div class="card-body">
            <h2 class="h5 card-title">{{ titles[i] }}</h2>
            <p class="card-text">{{ descriptions[i]|truncate(100) }}</p>
            <a href="/tours/{{ ids[i] }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}